html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#light-dark-mode {
  position: absolute;
  right: 100px;
}

.dark-mode {
  background: #252323;
  color: #F4F3EE;
}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.palette {
  display: flex;
  margin-left: -30px;
  flex-direction: row;
}

.brush {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 600px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}

.color-1 {
  background-color: blue;
}

.color-2 {
  background-color: red;
}

.color-3 {
  background-color: purple;
}

.color-4 {
  background-color: orange;
}

.color-5 {
  background-color: white;
}

.color-6 {
  background-color: #C0A9B0;
}

.color-7 {
  background-color: #6987C9;
}

.color-8 {
  background-color: #7CFFCB;
}